/*Variables*/
$fontColour: #333333;
$fontFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$headingsFontFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$tableBorder: 1px solid #333333;

/*General*/
html {
    scroll-behavior: smooth;
}

body {
    padding: 20px;
    margin: 0;
}

body,
input {
    font-family: $fontFamily;
    font-size: 16px;
    color: $fontColour;
}

h1,
h2,
h3 {
    font-family: $headingsFontFamily;
    margin: 0;
    padding: 0;
}

a {
    color: $fontColour;
}

table {
    border-collapse: collapse;
}
table td {
    border: $tableBorder;
    padding: 2px;
}
.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
input:not([type="checkbox"]) {
    width: 300px;
}
input[readonly] {
    background-color: transparent;
    border: none;
    outline: none;
}

/*Pages*/
.wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
}
.contentContainer {
    display: none;
    padding: 0 4px;
}
.formField {
    display: grid;
    grid-template-columns: 100px max-content;
    padding: 4px 0;
}
#forgotPasswordButton {
    cursor: pointer;
}
#forgotPasswordButton:hover {
    text-decoration: underline;
}
#msgContainer {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 26px;
    max-height: 0;
    background-color: rgb(230, 193, 102);
    color: #333333;
    text-align: center;
    margin-left: -20px;
    transition: all 1s ease;
    overflow: hidden;
}
#msgContainer.visible {
    max-height: 100px;
    opacity: 1;
}

/*Utils*/
.showBlock {
    display: block;
}
